.auth-container {
  display: flex;
  min-height: 100vh;
}

.auth-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    max-width: 450px;
  }
}

.auth-right {
  flex: 1;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.logo-login {
  display: flex;
  align-items: center;
  margin-bottom: 70px;
}

.logo-login h1 {
  color: black;
}

mat-icon {
  font-size: 40px; 
  line-height: 40px;
  width: 40px;
  height: 40px;
  color: #005cbb;
}

label {
  font-weight: 600;
}

.form {
  margin-top: 15px;
}

.form-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.forgot-link {
  font-size: 14px;
  color: #005cbb;
  text-decoration: none;
}

.forgot-link:hover {
  text-decoration: underline;
}

.create-account {
  text-align: center;
  margin-top: 8px;

  a {
    color: #005cbb;
    font-weight: 500;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
}

@media (max-width: 768px) {
  .auth-container {
    flex-direction: column;
  }

  .auth-left {
    display: none;
  }

  .auth-right {
    flex: unset;
    width: 100%;
    padding: 20px;
  }

  .form-container {
    max-width: 100%;
    padding: 0 16px;
  }
}