<aside class="sidebar">
  <div class="logo">
    <mat-icon class="mat-icon-color" fontSet="">local_fire_department</mat-icon>
    <h2>Recepta</h2>
  </div>
  <nav class="nav-list">
    <div class="home" routerLink="/home">
      <mat-icon class="icon-home" fontSet="material-icons-outlined">home</mat-icon>
      <a class="initial" >Início</a>
    </div>
    <div class="menu-header" (click)="toggleRecipes()">
      <div class="menu-content">
        <mat-icon class="icon-recipe" fontSet="material-icons-outlined">library_books</mat-icon>
        <span class="menu-label">Receitas</span>
        <mat-icon class="expand-icon">{{ isRecipesOpen ? 'expand_less' : 'expand_more' }}</mat-icon>
      </div>
    </div>
    <div class="submenu" [@expandDown]="isRecipesOpen ? 'open' : 'closed'">
      <a routerLink="/register-recipes" class="submenu-link" routerLinkActive="active-submenu">- Cadastrar receitas</a>
      <a routerLink="/my-recipes" class="submenu-link" routerLinkActive="active-submenu">- Minhas receitas</a>
      <a routerLink="/my-categories" class="submenu-link" routerLinkActive="active-submenu">- Categorias</a>
    </div>
  </nav>
</aside>